*{
    padding: 0;
    margin: 0;
}
.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    z-index: 1000;
    background: rgba(100, 100, 100, 0.1);
}
.txtHead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgba(239,108,0,0.5);
   
}
.headRi{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 25%;
    /* background-color:lightblue; */
    /* padding: 5px 10px;
    transform:skewX(-10deg); */
}
.head ul{
    position: relative;
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;

}
.head ul li{
    position: relative;
    list-style: none;
}

@media (max-width: 992px) {
    .headRi spam:nth-child(2){
        display: none;
    }
}